@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular,700);
@font-face {
	font-family: "ProximaNova";
	src: url("../fonts/Proxima Nova Bold.eot");
	src: local("☺"), url("../fonts/Proxima Nova Bold.woff") format("woff"), url("../fonts/Proxima Nova Bold.ttf") format("truetype"), url("../fonts/Proxima Nova Bold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "ProximaNova";
	src: url("../fonts/proximanova-semibold.eot");
	src: local("☺"), url("../fonts/proximanova-semibold.woff") format("woff"), url("../fonts/proximanova-semibold.ttf") format("truetype"), url("../fonts/proximanova-semibold.svg") format("svg");
	font-weight: 600;
	font-style: normal;
}
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	font-family: "";
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: "";
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	color: #000;
	font-size: 14px;
}
body.lock {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
.container {
	max-width: 1500px;
	margin: 0 auto;
	width: 100%;
	padding: 0 10px;
}
@media (max-width: 991.98px) {
	.container {
		max-width: 750px;
	}
}
@media (max-width: 767.98px) {
	.container {
		max-width: none;
		padding: 0 10px;
	}
}

.banner {
	max-width: 100%;
	padding: 0px 0px 35.4% 0px;
	background: url("../img/banner.png") 0 0/100% no-repeat;
}
@media (max-width: 500px) {
	.banner {
		background: url("../img/banner-mm.jpg") 0 0/100% no-repeat;
		padding: 0 0 146.7% 0;
		position: relative;
	}
	.banner::after {
		content: "";
		position: absolute;
		width: 42px;
		height: 14px;
		background: url("../img/arrow.svg") 0 0 no-repeat;
		bottom: 20px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		        transform: translateX(-50%);
	}
}

.about {
	text-align: center;
	padding: 115px 0 150px 0;
}
@media (max-width: 991.98px) {
	.about {
		padding: 60px 0 55px 0;
	}
}
@media (max-width: 767.98px) {
	.about {
		padding: 45px 0 40px 0;
	}
}
@media (max-width: 479.98px) {
	.about {
		padding: 37px 0 30px 0;
	}
}
.about .container {
	padding: 0 2px;
}
.about__title {
	color: #2f3131;
	font-family: ProximaNova;
	font-size: 25px;
	margin: 0px 0px 100px 0px;
	max-width: 1365px;
	margin: 0 auto 100px auto;
	padding: 0 6px;
}
@media (max-width: 991.98px) {
	.about__title {
		font-size: 22px;
		margin: 0px 0px 69px 0px;
	}
}
@media (max-width: 767.98px) {
	.about__title {
		font-size: 18px;
		margin: 0px 0px 52px 0px;
	}
}
@media (max-width: 479.98px) {
	.about__title {
		font-size: 14px;
		margin: 0px 0px 40px 0px;
	}
}
.about__subtitle {
	color: #04a7af;
	font-family: "ProximaNova";
	font-size: 48px;
	font-weight: 700;
	line-height: 55px;
	margin: 0px 0px 90px 0px;
}
@media (max-width: 991.98px) {
	.about__subtitle {
		font-size: 33px;
		line-height: 36px;
		margin: 0px 0px 45px 0px;
	}
}
@media (max-width: 767.98px) {
	.about__subtitle {
		font-size: 28px;
		margin: 0px 0px 37px 0px;
		line-height: 31px;
	}
}
@media (max-width: 479.98px) {
	.about__subtitle {
		font-size: 24px;
		line-height: 30px;
		margin: 0px 0px 29px 0px;
	}
}
.about__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
@media (max-width: 1512px) {
	.about__row {
		margin: 0 -20px;
	}
}
@media (max-width: 767.98px) {
	.about__row {
		margin: 0 -2px;
	}
}
.about__item {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 25%;
	        flex: 0 1 25%;
	margin: 0px 0px 60px 0px;
}
@media (max-width: 1512px) {
	.about__item {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 33.333%;
		        flex: 0 1 33.333%;
		padding: 0 20px;
	}
}
@media (max-width: 991.98px) {
	.about__item {
		margin: 0px 0px 35px 0px;
	}
}
@media (max-width: 767.98px) {
	.about__item {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 50%;
		        flex: 0 1 50%;
		padding: 0 2px;
		margin: 0px 0px 11px 0px;
	}
}
@media (max-width: 479.98px) {
	.about__item {
		margin: 0px 0px 9px 0px;
	}
}
.about__image {
	position: relative;
}
@media (max-width: 767.98px) {
	.about__image img {
		max-width: 300px;
	}
}
@media (max-width: 620px) {
	.about__image img {
		max-width: 230px;
	}
}
@media (max-width: 479.98px) {
	.about__image img {
		max-width: 169px;
	}
}
@media (max-width: 350px) {
	.about__image img {
		max-width: 154px;
	}
}
.about__text {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	max-width: 310px;
}
@media (max-width: 1512px) {
	.about__text {
		left: 11%;
	}
}
@media (max-width: 479.98px) {
	.about__text {
		max-width: 140px;
		-webkit-transform: translateY(-12px);
		    -ms-transform: translateY(-12px);
		        transform: translateY(-12px);
		top: 46%;
	}
}
@media (max-width: 350px) {
	.about__text {
		top: 30%;
	}
}

.text-about {
	text-align: left;
	margin: 100px 20px 0px 23px;
}
@media (max-width: 1512px) {
	.text-about {
		margin: 100px 40px 0 20px;
	}
}
@media (max-width: 767.98px) {
	.text-about {
		margin: 30px 40px 0px 0px;
	}
}
@media (max-width: 620px) {
	.text-about {
		margin: 20px 40px 0 15px;
	}
}
@media (max-width: 479.98px) {
	.text-about {
		margin: 0 10px 0 9px;
	}
}
.text-about__title {
	margin: 0px 0px 22px 0px;
	color: #ffffff;
	font-family: "PT Sans";
	font-size: 68px;
	font-weight: 700;
	text-transform: uppercase;
}
@media (max-width: 767.98px) {
	.text-about__title {
		font-size: 37px;
		margin: 35px 0px 15px 0px;
	}
}
@media (max-width: 479.98px) {
	.text-about__title {
		font-size: 33px;
		margin: 0px 0px 5px 0px;
	}
}
.text-about__title_s {
	position: relative;
	top: -40px;
	font-size: 48px;
	margin: 0px;
}
@media (max-width: 767.98px) {
	.text-about__title_s {
		font-size: 29px;
		top: -14px;
	}
}
@media (max-width: 479.98px) {
	.text-about__title_s {
		font-size: 22px;
		top: -40px;
	}
}
@media (max-width: 350px) {
	.text-about__title_s {
		top: -15px;
	}
}
.text-about__subtitle {
	color: #ffffff;
	font-family: "PT Sans";
	font-size: 14px;
	font-weight: 700;
}
@media (max-width: 479.98px) {
	.text-about__subtitle {
		font-size: 10px;
	}
}
.text-about__subtitle_s {
	margin: 0px 0px 20px 0px;
	position: relative;
	top: -35px;
}
@media (max-width: 767.98px) {
	.text-about__subtitle_s {
		font-size: 12px;
		top: -13px;
	}
}
@media (max-width: 479.98px) {
	.text-about__subtitle_s {
		font-size: 8px;
		margin: 0px 0px 5px 0px;
		top: -40px;
	}
}
@media (max-width: 350px) {
	.text-about__subtitle_s {
		top: -15px;
	}
}

.document {
	background: #3434;
	padding: 96px 0px 220px 0px;
	font-family: ProximaNova;
	color: #fff;
	position: relative;
	background-color: #0daab2;
}
@media (max-width: 991.98px) {
	.document {
		padding: 70px 0 85px 0;
	}
}
@media (max-width: 767.98px) {
	.document {
		padding: 50px 0 70px 0;
	}
}
@media (max-width: 479.98px) {
	.document {
		padding: 41px 0 61px 0;
	}
}
.document::after {
	content: "";
	position: absolute;
	top: 0px;
	left: -135px;
	width: 783px;
	height: 605px;
	background: url("../img/doc-el.png") 0 0 no-repeat;
}
@media (max-width: 991.98px) {
	.document::after {
		opacity: 0.5;
	}
}
.document::before {
	content: "";
	position: absolute;
	top: 100px;
	right: -460px;
	width: 620px;
	height: 505px;
	background: url("../img/doc-el2.png") 0 0 no-repeat;
}
@media (max-width: 991.98px) {
	.document::before {
		display: none;
	}
}
.document .container {
	z-index: 1;
	position: relative;
	padding: 0 22px;
}
@media (max-width: 767.98px) {
	.document .container {
		padding: 0 27px;
	}
}
.document__title {
	font-size: 48px;
	font-weight: 700;
}
@media (max-width: 991.98px) {
	.document__title {
		font-size: 37px;
	}
}
@media (max-width: 767.98px) {
	.document__title {
		font-size: 29px;
	}
}
@media (max-width: 479.98px) {
	.document__title {
		font-size: 24px;
	}
}
.document__text {
	margin: 100px 0px 0px 0px;
	font-weight: 600;
}
@media (max-width: 991.98px) {
	.document__text {
		margin: 60px 0px 0px 0px;
	}
}
@media (max-width: 767.98px) {
	.document__text {
		margin: 45px 0px 0px 0px;
	}
}
@media (max-width: 479.98px) {
	.document__text {
		margin: 30px 0px 0px 0px;
		line-height: 17px;
	}
}
.document__item {
	font-weight: 600;
	font-size: 27px;
	font-family: ProximaNova;
	text-decoration: underline;
	display: block;
	color: #fff;
	position: relative;
	margin: 0px 0px 65px 0px;
	padding: 0px 0px 0px 69px;
}
@media (max-width: 991.98px) {
	.document__item {
		font-size: 22px;
	}
}
@media (max-width: 767.98px) {
	.document__item {
		font-size: 18px;
		margin: 0px 0px 40px 0px;
		padding: 0px 0px 0px 36px;
	}
}
@media (max-width: 479.98px) {
	.document__item {
		font-size: 14px;
		font-weight: 400;
		padding: 0px 0px 0px 36px;
		margin: 0px 0px 32px 0px;
	}
}
.document__item:last-child {
	margin: 0;
}
.document__item::after {
	content: "";
	position: absolute;
	top: -10px;
	left: 0;
	width: 39px;
	height: 49px;
	background: url("../img/doc.png") 0 0/100% no-repeat;
}
@media (max-width: 767.98px) {
	.document__item::after {
		width: 23px;
		top: 0;
		height: 29px;
	}
}